<!Doctype html>
<html lang="en">
<head>
	<title>Asha_rockstars, Admin Verification</title>
<style>
body {
background:#0676af;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
color:#fff;
height:100%;
font-size:18px;
}
</style>
<link rel="stylesheet" type="text/css" href="../static/index.css">
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta charset="utf8"/>      
</head>
<body>
<div class="container">
<h1>Verify your identity!</h1>
<form action="/admin" method="post">
<input name="password" placeholder="Enter the admin password" type="password"/>
<button type="submit" value="Verify"/>
</form>
</div>
</body>
</html>