<!Doctype html>
<html lang="en">
<head>
	<title>Asha's_rockstars, Contact</title>
<style>
body {
background:#0676af;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
color:#fff;
height:100%;
font-size:18px;
}
</style>
<link rel="stylesheet" type="text/css" href="../static/index.css">
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta charset="utf8"/>      
</head>
<body>
<div class="container">
<h1>Contact Asha!</h1>
<p class="flow-text">This page will let you contact Asha, in case of any queries.</p>
<h2>Email:</h2>
<p>Click on the following link to send Asha and E-Mail:</p>
<a href="mailto:savlaasha75@gmail.com">E-Mail Asha</a>
<h2>Phone</h2>
<p>Click on the following link to call Asha</pp>
<a href="tel:+919739990798">Call Asha</a>
<h2>Message on WhatsApp</h2>
<p>Click on the following link to send Asha a whatsApp message</p>
<a href="https://wa.link/h93okb">Start a WhatsApp chat with Asha</a>
<footer>
<p>Copyright Asha's_rockstars, 2017-2020. This WebSite is created by Asha's_rockstars and can not be claimed by or used by any other firm.</p>
</footer>
</div>
</body>
</html>