<!Doctype html>
<html lang="en">
<head>
	<title>Register for Asha's Rockstars</title>
<style>
body {
background:#0676af;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
color:#fff;
height:100%;
font-size:18px;
}
</style>
<link rel="stylesheet" type="text/css" href="../static/index.css">
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta charset="utf8"/>      
</head>
<body>
<h1>Register for Asha Rockstars!</h1>
<p class="flow-text">This small little form will allow you to put in your name for registration for Asha's rockstars!</p>
<p>After you have registered, Asha will get in contact with you shortly via phone or WhatsApp.</p>
<form action="/register" method="post">
<input type="text" name="name" placeholder="Enter your child's name">
<input type="number" name="age" placeholder="Enter your child's age"/>
<input type="phone" name="phone" placeholder="Enter your phone number"/>
<input type="email" name="email" placeholder="Enter your E-Mail address"/>
<input type="submit" value="register"/>
</form>
</body>
</html>